<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Chat Page - Talk2Me</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_style.css') }}">
    </head>
    <body>
        <!--Navigation Bar-->
        <nav>

        </nav>
        <div id = "main-section">
            <!--Room Selection-->
            <nav id="sidebar">
                <h4>ROOMS</h4>
                {% for room in rooms %}
                    <p class="select-room">{{room|title}}</p>
                {% endfor %}
            </nav>
            <!--Message Area-->
            <div id="rightside-pannel">
                <!--Display Message-->
                <div id="display-message-section">

                </div>
                <!--Input Message-->
                <div id="input-area">
                    <input type="text" id="user_message" placeholder="Type Here..." autocomplete="off">
                    <button type="button" id="send_message">SEND</button>
                </div>
            </div>

        </div>
        <script type="text/javascript">
            const username = `{{username}}`
        </script>

        <!--Custom chat JS-->
        <script src="{{url_for('static', filename = 'scripts/chat_page.js')}}">

        </script>

        <!--SocketIO JS-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

        <!--Custom SocketIO JS-->
        <script src="{{url_for('static', filename = 'scripts/socketio.js')}}"></script>
    </body>
</html>